.category__item {
    cursor: pointer;
    background-color: var(--blue-gray);
    color: white;
    padding: 20px 20px;
    border-radius: 0 20px 0 20px;
    border: 1px solid #5ae9b9;
    position: relative;
}

.category__image-wrapper {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: -64px;
    left: 18px;
}

.category__image {
    border-radius: 50%;
    padding: 8px;
    width: 100px;
}

.category__heading {
    font-size: 1.4rem;
    margin: 44px 0 8px 0;
    color: var(--medium-green);
}

.category__description {
    line-height: 1.7;
}
