/* Global Styles
----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary: #00875a;
  --secondary: #c9ffed;
  --medium-green: #80f8d0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.button--secondary {
  border: 1px solid var(--primary);
  background-color: white;
  border-radius: 8px;
  color: var(--primary);
  cursor: pointer;
}

.button--secondary:hover {
  background-color: var(--primary);
  color: white;
}
